<head>
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">About</a>
            <% if (typeof user != 'undefined') { %>
              <div class="user-action">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" style="background-color: transparent !important; border: none; outline: none !important; padding: 8px !important;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= user.firstName + ' ' + user.lastName %>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="" style="padding: 10px; display: inline-block">
                      <a id="profile" class="dropdown-item px-1" href="#" style="color: black; margin: 0" data-bs-toggle="modal" data-bs-target="#profileModal">Profile</a>
                    </li>
                    <li style="padding: 10px; display: inline-block">
                      <a id="logout" class="dropdown-item px-1" href="/logout" style="color: black; margin: 0">Log Out</a>
                    </li>
                  </ul>
                </div>
              </div>
            <% } else {%>
              <a class="btn btn-primary tombol" href="/login">Join Us</a>
            <% } %> 
          </div>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profileModalLabel"><% if (typeof user != 'undefined') { %> <%= user.firstName + ' ' + user.lastName %> <% } %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-column">
            <span>First Name: <% if (typeof user != 'undefined') { %> <%= user.firstName %> <% } %> </span>
            <span>Last Name: <% if (typeof user != 'undefined') { %> <%= user.firstName %> <% } %> </span>
            <span>Email: <% if (typeof user != 'undefined') { %> <%= user.email %> <% } %> </span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">
          Get work done <span>faster</span><br />
          and <span>better</span> with us
        </h1>
        <a href="#" class="btn btn-primary tombol">Our Work</a>
      </div>
    </div>
    <!-- Akhir Jumbotron -->

    <!-- container -->
    <div class="container">
      <!-- Info panel -->
      <div class="row justify-content-center">
        <div class="col-10 info-panel">
          <div class="row">
            <div class="col-lg d-flex flex-columns align-items-center justify-content-center">
              <img src="img/employee.png" alt="Employee" class="float-start" />
              <div class="text">
                <h4>24 Hours</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="col-lg d-flex flex-columns align-items-center justify-content-center">
              <img src="img/hires.png" alt="High Res" class="float-start" />
              <div class="text">
                <h4>High-Res</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="col-lg d-flex flex-columns align-items-center justify-content-center">
              <img src="img/security.png" alt="security" class="float-start" />
              <div class="text">
                <h4>Security</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Akhir info panel -->

      <!-- Working Space -->
      <!-- Akhir Working Space -->
      <div class="row working-space">
        <div class="col-lg-6">
          <img src="img/workingspace.png" alt="Working Space" class="img-fluid" />
        </div>
        <div class="col-lg-5">
          <h3>You <span>work</span> like at <span>home</span></h3>
          <p>Bekerja dengan suasana hati yang lebih asik dan mempelajari hal baru setiap harinya.</p>
          <a href="#" class="btn btn-primary tombol">Gallery</a>
        </div>
      </div>
    </div>
    <!-- Akhir container -->

    <!-- Testimonials -->
    <section class="testimonials">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 p-0">
            <h5>"Bekerja dengan suasana hati yang lebih asik dan mempelajari hal baru setiap harinya.</h5>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 justify-content-center d-flex p-0">
            <figure class="figure">
              <img src="img/img1.png" class="figure-img img-fluid rounded-circle" alt="Testimonials 1" />
            </figure>
            <figure class="figure">
              <img src="img/img2.png" class="figure-img img-fluid rounded-circle main" alt="Testimonials 2" />
              <figcaption class="figure-caption">
                <h5>Sunny Ye</h5>
                <p>Designer</p>
              </figcaption>
            </figure>
            <figure class="figure">
              <img src="img/img3.png" class="figure-img img-fluid rounded-circle" alt="Testimonials 3" />
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Testimonials -->
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <p>2018 All Rights Reserved Fitra</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->
  </main>
</body>
